
# VS/VSCode cache
.vs/
.vscode/

# Build output
bin/
obj/

# Utente/soluzione
*.user
*.suo
*.userosscache
*.sln.docstates

# Pubblicazione temporanea
publish/

# ASP.NET/Blazor artefatti
**/wwwroot/*.map
**/wwwroot/*.cache

# Log/Temp
*.log
*.tmp
*.temp

# Sistema
Thumbs.db
Desktop.ini
