@page "/login"
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager Nav

<h3>Accesso</h3>

@if (!Loaded)
{
    <p>Caricamento utenti...</p>
    return;
}

@if (!string.IsNullOrEmpty(LoginError))
{
    <p class="text-danger">@LoginError</p>
}

<div class="card p-3 mb-3" style="max-width: 350px;">
    <input class="form-control mb-2" placeholder="Username" @bind="LoginUser" />
    <input class="form-control mb-3" type="password" placeholder="Password" @bind="LoginPass" />
    <button class="btn btn-primary w-100" @onclick="VerifyLogin">Entra</button>
</div>



@code {
    //private string ProxyBase = "https://first.marcomaria-zora.workers.dev/api/dav/UPLOADS/";
    //private const string FileName = "users.json";

    // variabili collegate al form HTML
    private string? LoginUser;
    private string? LoginPass;
    private string? LoginError;


    private List<UserRecord>? Users;
    private bool Loaded = false;

    protected override async Task OnInitializedAsync()
    {
        try { Users = await Http.GetFromJsonAsync<List<UserRecord>>(Global.ProxyBase + Global.UsersFileName); }
        catch { Users = null; }
        Loaded = true;
    }


    private async Task VerifyLogin()
    {
        LoginUser = "admin";
        LoginPass = "admin";

        if (Users is null)  // se non ci sono users nel file json
        {
            LoginError = "Impossibile leggere utenti.";
            return;
        }
        if (string.IsNullOrWhiteSpace(LoginUser) || string.IsNullOrWhiteSpace(LoginPass))   // se le credenziali non sono state inserite correttamente
        {
            LoginError = "Inserisci username e password.";
            return;
        }

        var hash = Global.Sha256(LoginPass);

        var match = Users.FirstOrDefault(u => u.user == LoginUser && u.hash == hash);

        if (match is null)  // se le credenziali non corrispondono a nessun user nel file json
        {
            LoginError = "Credenziali non valide.";
            return;
        }

        // loggedUser e loggedRole vengono salvati nella memoria del browser e durano fino alla chiusura della TAB
        //await JS.InvokeVoidAsync("sessionStorage.setItem", "loggedUser", match.user);
        //await JS.InvokeVoidAsync("sessionStorage.setItem", "loggedRole", match.role);

        await Global.LoggedUser(match.user);
        await Global.LoggedRole(match.role);

        // URL riferiti a /web/ perchè in index.html <base href="/web/" />
        if (match.role == "admin") Nav.NavigateTo("admin", forceLoad: true); //await JS.InvokeVoidAsync("location.assign", "admin");
        else Nav.NavigateTo("upload", forceLoad: true);
    }

    
}